
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
    <form method="post" action="~/Dict/AddSave">
        <label for="surname">Surname :</label>
        <input name="surname" id="surname" type="text" />
        <label for="number">Number :</label>
        <input name="number" id="number" type="text" />
        <input type="submit" value="addsave" />
    </form>
</body>
</html>
